
.buttonAndButtonG {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    background: rgba(241, 241, 241, 0);
    border: none;
    border-radius: 50%;
    box-shadow: 10px 10px 33px rgb(0, 0, 0);
    outline: none;
    font-size: 0px;
    &:before,
    &:after{
        content: 'Github';
        position: absolute;
        top: -16px;
        left: -17px;
        width: 75px;
        height: 75px;
        border-radius: 0%;
        border: 2px solid rgba(black, 0.5);
        filter: blur(0);
        transform-origin: 50%;
        z-index: 1;
        border-color: transparent;
    }
    &:hover {
        &:before,
        &:after{
            font-size: 12px;
            border-color: transparent;
             filter: blur(1px);
            transform: scale(4);
            transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
        }
        &:after {
            transition-delay: 100ms;
        }
    }
    &:active {
        box-shadow: 10px 10px 33px rgba(255, 255, 255, 0.2);
    }
}
.buttonAndButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    background: rgb(241, 241, 241);
    border: none;
    border-radius: 20%;
    box-shadow: 10px 10px 33px rgb(0, 0, 0);
    outline: none;
    font-size: 0px;
    &:before,
    &:after{
        content: 'Facebook';
        position: absolute;
        top: -16px;
        left: -17px;
        width: 75px;
        height: 75px;
        border-radius: 0%;
        border: 2px solid rgba(black, 0.5);
        filter: blur(0);
        transform-origin: 50%;
        z-index: 1;
        border-color: transparent;
    }
    &:hover {
        &:before,
        &:after{
            font-size: 12px;
            border-color: transparent;
             filter: blur(1px);
            transform: scale(4);
            transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
        }
        &:after {
            transition-delay: 100ms;
        }
    }
    &:active {
        box-shadow: 10px 10px 33px rgba(255, 255, 255, 0.2);
    }
}

.buttonAndButtonT {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 45px;
    margin-left: 20px;
    margin-right: 20px;
    height: 45px;
    background: rgb(241, 241, 241);
    border: none;
    border-radius: 50%;
    box-shadow: 10px 10px 33px rgb(0, 0, 0);
    outline: none;
    font-size: 0px;
    &:before,
    &:after{
        content: 'Twitter';
        position: absolute;
        top: -16px;
        left: -17px;
        width: 75px;
        height: 75px;
        border-radius: 0%;
        border: 2px solid rgba(black, 0.5);
        filter: blur(0);
        transform-origin: 50%;
        z-index: 1;
        border-color: transparent;
    }
    &:hover {
        &:before,
        &:after{
            font-size: 12px;
            border-color: transparent;
            filter: blur(1px);
            transform: scale(4);
            transition: 1000ms transform ease, 2100ms blur ease, 900ms border-color ease;
        }
        &:after {
            transition-delay: 100ms;
        }
    }
    &:active {
        box-shadow: 10px 10px 33px rgba(255, 255, 255, 0.2);
    }
}
