
.table-Body-maincss-table2{
  padding-top: 0px;
  /* margin-left: -5px; */
}

/*  */

/* body {
  margin-right: 15px !important;
} */
/*//////////////////////////////////////////////////////////////////*/
.form-input{
  margin-top: 70px;
  margin-bottom: -40px;
  margin-left: 50px;
  margin-right: 100px ;
}

.table-bordered{
  border: 6px solid #dee2e6 !important;
}

/*[ FONT ]*/
/*.body {
  margin: 0px ;
  /* padding: 30px; 
}*/

/* Position the navbar container inside the image */
/* .container {
  position: absolute;
  margin: 20px;
  width: auto;
} */

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}








/* @font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
} */

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/







/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.smallSizeDownButton{
  font-size: 8px
}

.downloadButton{
  background-color: #0f9ac4 !important;
  color: white !important;
  margin-right: 5px !important;
  white-space: nowrap !important;
}
/*//////////////////////////////////////////////////////////////////
[ Table ]*/
@media (max-width: 767px){
  .navbar-bg {
    width: 106% !important;
  }
  /* body {
    margin-right: 0px !important;
  } */
  .table-Body-maincss {
    margin-left: -31px !important;
  }
  .container-table100 {
    width: 45% !important;
    min-height: 45vh !important;
    padding-left: -20px !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    padding: 15.2px 14.25px !important;
  }
  
  .wrap-table100 {
    width: 618px !important; 
  }
  
  table {
    width: 45% !important;
    margin-left: 0px !important;
  }

  .table-bordered{
    border: 3px solid #dee2e6 !important;
  }

  .downloadButton{
    font-size: 7px !important;
    margin-bottom: -20px !important;
  }

  .homeInstruction{
    font-size: 10px !important;
    margin-left: 15px !important;
  }

  .smallSizeDownButton{
    font-size: 4px
  }

  .sessionName{
    font-size: 12px !important;
    margin-bottom: 20px !important;
    margin-left: 2px !important;
  }

  th, td {
    font-weight: unset !important;
    padding-right: 2.75px !important;
  }
  
  .column100 {
    width: 20.75px !important;
    padding-left: 4px !important;
    font-size: 2px !important;
  }
  
  .column100.column1 {
    width: 125.8px !important;
    padding-left: 20px !important;
  }
  
  .row100.head th {
    padding-top: 11.4px !important;
    padding-bottom: 9.5px !important;
  }
  
  .row100 td {
    padding-top: 8.55px !important;
    padding-bottom: 6.68px !important;
  }
  
  
  /*==================================================================
  [ Ver1 ]*/
  .table100.ver1 td {
    font-size: 6.68px !important;
    line-height: 1.3!important;
  }
  
  .table100.ver1 th {
    font-size: 6px !important;
    line-height: 1.3 !important;  
  }
  
  
  /*==================================================================
  [ Ver2 ]*/
  .table100.ver2 td {
    font-size: 6.68px !important;
    line-height: 1.3 !important;
  }
  
  .table100.ver2 th {
    font-size: 6.68px !important;
    line-height: 1.3 !important;
  
  }
  
  .table100.ver2 td {
    font-size: 6.68px !important;
    line-height: 1.3 !important;
  }
  
  .table100.ver2 th {
    font-size: 6.68px !important;
    line-height: 1.3 !important;
  }
  
 
  
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

table {
  width: 110%;
  background-color: #fff;
  margin-left: -36px;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


/*==================================================================
[ Ver1 ]*/
.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color:rgba(43, 53, 69, 1);
}
.table100.ver1 th:hover{
  background-color: #27a6d3 !important;
}


.table100.ver1 .row100:hover {
  background-color: #d2f2fc;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #27a6d3;
  color: #fff;
}

/*==================================================================
[ Ver2 ]*/
.table100.ver2 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver2 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #333333;
}

.table100.ver2 .row100:hover td {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-ver2 {
  background-color: #83d160;
  color: #fff;
}

.table100.ver2 .hov-column-head-ver2 {
  background-color: #484848 !important;
}

.table100.ver2 .row100 td:hover {
  background-color: #57b846;
  color: #fff;
}
